body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header_logo .logo_part,
.logo_part {
  color: #2e2f42;
}

.footer_logo .logo_part {
  color: #f4f4fd;
}

.nav_link,
.contacts_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav_link:hover,
.nav_link:focus,
.contacts_link:hover,
.contacts_link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

/* Section styles */
.section_1,
.features_section,
.team_section,
.projects_section {
  background-color: #2e2f42;
}

.team_section,
.projects_section {
  background-color: #f4f4fd;
}

.section_title,
.features_title,
.team_title,
.projects_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section_title,
.features_title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}

.section_button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.section_button:hover,
.section_button:focus {
  background-color: #404bbf;
}

.feature_title,
.project_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature_description,
.project_description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team_item,
.project_item {
  background-color: #ffffff;
}

/* Footer styles */
.footer {
  background-color: #2e2f42;
}

.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer_paragraph {
  line-height: 1.5;
  color: var(--footer-paragraph-color, #f4f4fd);
  letter-spacing: 0.02em;
}
